Welcome to your NotifyMe profile, {{person.username}}!

NotifyMe is an application that allows for text messages to be sent
to remind our users of appointments, important dates, or even class times.

 <a href="/contacts">Update contact information</a>
<a href="/users">Back to User menu</a>
